/* todo.css */

body {
    background:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'montserrat',sans-serif;
}

main {
    background: lightpink;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    height: 100%;
    font-family: 'montserrat',sans-serif;

}

section {
    padding: 20px;
}

h1 {
    text-align: center;
    font-family: 'montserrat',sans-serif;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'montserrat',sans-serif;
}

#container input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'montserrat',sans-serif;
}

#container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: black;
    cursor: pointer;
    font-family: 'montserrat',sans-serif;
}

#todos {
    padding: 10px;
    font-family: 'montserrat',sans-serif;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-family: 'montserrat',sans-serif;

}

.checkbox {
    margin-right: 10px;
    color:black;
}

.delete, .edit {
    margin-left: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: darkred;
    background-color: lightblue;
    font-family: 'montserrat',sans-serif;

}

.delete::before {
    content: '\1F5D1';
    font-size: 20px;
    margin-right: 5px;
    color: black;
}

.edit::before {
    content: '\270E';
    font-size: 20px;
    margin-right: 5px;
    color: black;
}
#filters {
    text-align: center;
    margin-top: 20px;
    background-color: white;
    padding: 6px, 8px;
    margin-left: 30px;
    margin-right: 30px;
    align-content:space-around;
    font-family: 'montserrat',sans-serif;
}

#filters button {
    margin: 4px;
    margin-right: 60px;
    padding: 6px 12px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color:lightblue;
    
}

@media only screen and (max-width: 780px) {
    #container {
        flex-direction: column;
    }

    #input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}

